html, body {
    background-color: rgb(12, 12, 12);
}

h1, h2, h3, h4, h5, h6 {
    color: white;
    font-family: "Open Sans Condensed", sans-serif;
}
p {
    color: #d1d4d6;
}

.tile {
    padding: 20px 10px 10px 10px;
    border-radius: 3px;
    background-color: rgb(24, 24, 24);
}



.interested {
    border: 1px solid white;
    border-radius: 4px;
    background-color: rgb(37, 48, 38);
    padding: 10px 10px 10px 10px;
}

.info {
    border-radius: 10px;
}

.pointer {
    cursor: pointer;
}

header .audio-control {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 40px;
    color: white;
}

header {
    position: relative;
    height: 75vh;
    width: 100%;
    overflow: hidden;
}
  
header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
  
header .container {
    position: relative;
    z-index: 2;
}